# Data Science Tools and Ecosystem

In this notebook, Data Science tools and Ecosystem are summarized.

**Objectives**
- list popular languages for data science
- list common libraries for data science
- create a table with development environment open source tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries by Data Scientists include:
1. NumPy
2. TensorFLow
3. Pandas

|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Kaitlyn Sundling